@{
    ViewBag.Title = "Home Page";
}
<style>
    .index-photos {
        position: relative;
        width: 100%;
        height: auto;
    }
</style>
<body class="home">
    <main role="main">
        <div class="jumbotron" style="border-radius:0px;">
            <div class="container">
                <h1 class="display-3">Travels Experts</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Book online or Call us, we're open 24/7</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Search over a million flights, hotels, packages, and more</h4>
                </div>
                <div class="col-lg-4">
                    <h4>No cancellation fee to change or cancel any hotel reservation.</h4>
                </div>
            </div><br /><br />


            <h1 id="feat"> Featured Packages </h1> <br /><br />


            <!-- Gallery -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Caribbean New year <span class="text-muted"><br />Costa Rica Guetamala Mexico Belize</span></h2>                    
                </div>
                <img class="index-photos" src="~/images/Caribbean.jpg" />
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Polynesian Paradise<br /> <span class="text-muted">Bora Bora Hawaii Maui Tahiti</span></h2>
                </div>
                <img class="index-photos" src="~/images/polynesian.jpg" />
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">European Vacation<span class="text-muted"><br />Italy Greece Rome Athens</span></h2>
                </div>
                <img class="index-photos" src="~/images/rome.jpg" />
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Asian Expedition<span class="text-muted"><br />Thailand Vietnam China India</span></h2>
                </div>
                <img class="index-photos" src="~/images/great-wall-of-china.jpg" />
            </div>
        </div>


    </main>
    
</body>
